/node_modules/*
!/node_modules/base/package.json
!/node_modules/base/index.js
!/node_modules/cache-base/package.json
!/node_modules/cache-base/index.js
!/node_modules/union-value/package.json
!/node_modules/union-value/index.js
!/node_modules/union-value/node_modules/set-value/package.json
!/node_modules/union-value/node_modules/set-value/index.js

/public/*
!public/.htaccess
!public/favicon.ico
!public/favicon.ico
!public/robots.txt
!public/web.config
!public/exports/


!public/exports/index.html
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

/resources/assets/dist


/_ide_helper.php
/script_jenkins.php
/vera/file_scan.zip

.settings/*
.vscode/*